body {
  background-image: url("../src/pages/img/fundo.jpg");
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Login, .Register{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Register{
  padding-left: 30px;
  padding-right: 30px;
}

.login, .register, .menu{
  border: 10px solid #000000;
  padding: 20px;
  background: #ffde81;
  border-radius: 30px;
}

.menu{
  margin: 30px;
}

input, .form-button, .button, .buttonMenu, .pedido, .input-login, .form-button-login{
  height: 5vh;
  width: 17vw;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 10px;
  border: 3px solid
}

.input-register,.form-input-register{
  height: 5vh;
  width: 25vw;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 10px;
  border: 3px solid;
}

.input-register{
  margin-left: 100px;
}

.form-input-register{
  margin-left: 150px;
}

.input-login{
  margin-left: 25px;
}

.form-button-login{
  margin-left: 30px;
}

.select{
  height: 3vh;
  width: 10vw;
}

.form-button, .button, .cafe, .buttonMenu, .pedido, .form-button-login, .form-input-register{
  background-color: #000000;
  font-size: 16px;
  color: #ffffff;
}

.cafe{
  height: 10vh;
  width: 20vw
}

.form-button, .button, .buttonMenu, .form-button.login, .form-input-register{
  height: 7vh;
}

.form-button, .button, .form-button.login, .form-input-register{
  width: 19vw
}

.pedido{
  height: 6vh;
  width: 13vw
}

.buttonMenu{
  width: 15vw
}

h1, h3, input, th, label, td, p, .p-bottom{
  color: #000000;
}

h4{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.p-login{
  color: #000000;
}

.menuProducts {
  width: 100px;
  height: 100px;
  
}

.menuProducts img {
  width: 60%;
  height: 60%;
}

#footer {
  background-color: black;
  text-align: center;
  font-weight: 600;
}

#footer a {
  color: rgb(255, 251, 2);
  text-shadow: rgb(255, 255, 255) 1px 1px 1px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.pedidos, .pedidos-prontos {
  border: 3px solid #000000;
  margin: 0.5em;
  border-radius: 10px;
}

td{
  padding-right: 20px;
}

.pedidos-prontos{
  display: flex;
	flex-direction: row-reverse;
  border-radius: 10px;
}

.menu{
  display: flex;
  justify-content: center;
}

.logo{
  width: 300px;
  height: 90px;
}

.cadastro{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-right: 70px;
}

.select{
  margin: 0;
}

.texto-cadastro{
  margin-left: 150px;
}

.logo-register{
  margin-left: 130px;
}

.logo-cozinha{
  margin-left: 120px;
}

.logo-menu{
  margin-left: 370px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .buttonMenu{
    height: 6vh;
    width: 23vw
  }

  body{
    font-size: 17px;
  }

  .login{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .logo-login{
    padding-left: 35px;
    height: 10vh;
  }

  .logo-register{
    margin-left: 100px;
  }

  .input-login{
    width: 40vw;
    padding-left: 20px;
    margin-left: 24px;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 15px;
  }

  .input-register, .form-input-register{
    width: 400px;

  }

  .form-button-login{
    width: 40vw;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 25px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  footer, p, .p-button, .form-input-register, .input-register{
    font-size: 23px;
  }

  .cadastro{
    margin-right: 30px;
  }

  .texto-cadastro{
    margin-left: 75px;
  }
  
  .form-input-register{
    margin-left: 60px;
  }

  .input-register{
    margin-left: 55px;
  }

  .logo-menu{
    margin-left: 150px;
  }

}


